<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  </head>
  <body>
    <div class="profile">
      <div class="row">
        <header class="profileHead bg-secondary">
          <div class="col-sm-9">
            <h1 class="mt-2">Fan Fury</h1>
          </div>
          <div class="col-sm-3 align-self-end">
            <p class="username mt-2">name:</p>
            
            <img
            class="logo border rounded-circle"
            id="ATL"
            src="/public/images/atlanta-falcons-logo.png"
            alt="Atlanta Falcons Logo"
          />
          </div>
        </header>
      </div>
      
        <div class="row ">
          <div class="col-4  m-5">
        <div  id = newsFeed class="newsFeed  bg-secondary">
          <h2>News Feed:</h2>
        
          <!-- <button class="btn btn-primary d-inline-block">Reload Stats</button> -->
          
          <div class="card d-inline-block  " style="width: 18rem;">
            <div class="card-body ">
              <h5 id=""class="card-title">Team stats for this season:</h5>
              <p  id="passing" class="card-text  "></p>
              <p id="rushing" class="card-text"></p>
              <p id="touchdowns" class="card-text"></p>
              <p id="field" class="card-text"></p>
              <p id="fumbles" class="card-text"></p>
              <p id="firstDowns" class="card-text"></p>
              <p id="interceptions" class="card-text"></p>
            </div>
          
          </div>
          <div class="card d-inline-block" style="width: 18rem;">
            <div class="card-body ">
              <h5>Team Standings this Season</h5>
              <p id="teamName"class="card-title"></p>
              <p id="wins" class="card-text"></p> 
              <p id="losses" class="card-text"></p>
              <p id="conference" class="card-text"></p>
              <p id="conferenceRank" class="card-text"></p>
              <p id="division" class="card-text"></p>
              <p id="divisionRank" class="card-text"></p>
             
            </div>
          </div>
        </div>
      </div>
          
          <div class="col-3"></div>
        <div class=" col m-5">
          
        <div class=" bg-secondary social">
          
          <p>About Me:</p>
          <p>favorite Team(s):</p>
          <p id="friends">Friends:</p>
          <input id="searchFriends" class="rounded input"type="text" placeholder="Search for new friends"> <button class="btn btn-dark">Search</button>
          <p>Messages:</p>
          <!-- new messege code -->
          <section id="chatroom">
            <section id="feedback"></section>
          </section>
      
          <section id="input_zone">
            <input id="message" class="rounded input" type="text" placeholder="Type Message:" />
            <button id="send_message" class="btn btn-dark" type="button">
              Send
            </button>
          </section>

          <!-- end messege code -->
         
        </div>
      </div>
      
    </div>
  </body>
  <script src="/public/js/index.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="chat.js"></script>
</html>
