.intro {
    background-image: url(/public/images/footbal2.jpg);
    height: 100vh;
  }

  .fan {
    font-size: 100px;
    color: black;
    display: flex;
    justify-content: center;
  }
  .fury {
    color: gold;
  }
  .login {
    background-color: gold;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 300px;
    margin-top:250px;
    padding:30px;
    border: solid black 3px;
    
  }